# Reservoir outputs
/testbed
/site/manifest.json
/deploy.json

# Node dependencies
node_modules

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Python outputs
__pycache__

# Misc
.DS_Store

# Local Netlify folder
.netlify

index
manifest.json