@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&family=Source+Code+Pro&family=Source+Code+Pro:wght@600&display=swap');

// palette is variants of slate and blue gray
:root {
  --light-color: #f9fbfd;
  --dark-color: #708090;
  --dark-accent-color: #6699cc;
  --light-accent-color: #a1c0e0;
  --light-text-color: white;
  --dark-text-color: black;
  --success-color: rgb(26, 127, 55);
  --failure-color: rgb(209, 36, 47);
  --neutral-color: var(--dark-color);

  --main-bg-color: var(--light-color);
  --main-text-color: var(--dark-text-color);
  --header-bg-color: var(--dark-color);
  --header-text-color: var(--light-text-color);
  --header-accent-color: var(--light-accent-color);
  --outcome-icon-color: var(--light-text-color);
}

html, body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

header, main, footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  & > .contents {
    flex-grow: 1;
    max-width: 1080px;
  }
}

header, footer {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}

main {
  background-color: var(--main-bg-color);
  color: var(--main-text-color)
}

header > .contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em 0;

  h1.title {
    margin: 0;
  }
}

main > .contents {
  display: flex;
  flex-direction: column;
  margin: 1em;

  .intro {
    display: flex;

    & > * {
      margin-bottom: 1em;
    }

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @media screen and (min-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .toolchain {
        margin-right: 1em;
      }
    }

    .toolchain {
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      font-size: larger;

      & > .label {
        font-weight: bold;
        margin-right: 0.5em;
      }
      & > .name {
        font-size: 1em;
      }
    }

    .get-started {
      display: flex;
      flex-direction: row;
      align-items: center;

      color: var(--light-text-color);
      background-color: var(--dark-accent-color);
      line-height: 1em;
      padding: 0.5em 2em;

      white-space: nowrap;
      font-family: 'Merriweather', serif;
      border-radius: 12px;

      &:hover {
        background-color: var(--light-accent-color);
      }

      .icon {
        width: 1.5em;
        height: 1.5em;
        margin-right: 1em;
        flex: 0 0 auto;
      }
    }
  }

  .blurb {
    @media only screen and (max-width: 600px) {
      text-align: center;
    }

  }

  h2 {
    margin: 1em 0;
  }

  .matrix {
    counter-reset: item;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      font-size: larger;
      word-break: break-all;

      line-height: 1em;
      margin: 0 0 0.8em 0;

      .icon {
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.5em;
      }
    }
  }

  a {
    color: var(--dark-accent-color);

    &:hover {
      color: var(--light-accent-color);
    }
  }
}

footer > .contents {
  display: flex;
  margin: 0.5em 2em 3em 1.5em;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    justify-content: space-between;
  }

  @media screen and (min-width: 700px) {
    flex-direction: row;
    justify-content: space-around;
  }

  ul {
    list-style: none;
    color: var(--header-color);

    li {
      display: flex;
      align-items: center;

      padding: 0.3em 0;
      line-height: 1em;

      a {
        color: var(--header-text-color);

        .icon {
          width: 1em;
          height: 1em;
          margin-right: 0.5em;
        }

        &:hover {
          color: var(--header-accent-color);
        }
      }
    }
  }

  h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: var(--header-accent-color);
  }
}
